<IfModule mod_rewrite.c>
RewriteEngine On
Options -Indexes
RewriteBase /resource_center
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /app_project/index.php/$1 [L]
RewriteRule ^(\.editorconfig|contributing\.md|readme\.rst|\.gitignore|user_guide|license\.txt|composer\.json) - [F,L,NC]
</IfModule>