/*Fonts*/
@font-face{
	font-family: 'caveatbold';
    src: url('../fonts/caveat-bold-webfont.woff2') format('woff2'),
         url('../fonts/caveat-bold-webfont.woff') format('woff'),
         url('../fonts/caveat-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family: 'ostrichsans';
    src: url('../fonts/ostrichsans-black-webfont.woff2') format('woff2'),
         url('../fonts/ostrichsans-black-webfont.woff') format('woff');
    font-style: normal;
}

@font-face{
	font-family: 'ostrichreg';
    src: url('../fonts/ostrich-regular-webfont.woff2') format('woff2'),
         url('../fonts/ostrich-regular-webfont.woff') format('woff');
    font-style: normal;
}

@font-face{
	font-family: 'calligraffiti';
    src: url('../fonts/calligraffiti-webfont.woff2') format('woff2'),
         url('../fonts/calligraffiti-webfont.woff') format('woff');
    font-style: normal;
}

@font-face{
	font-family: 'hanzo';
    src: url('../fonts/hattori_hanzo-webfont.woff2') format('woff2'),
         url('../fonts/hattori_hanzo-webfont.woff') format('woff');
    font-style: normal;
}

/*Login Page*/
.brand-name{
	font-family: 'caveatbold';
	font-size: x-large;
	margin-right: 20px;
}

.brand-links{
	font-family: 'ostrichsans';
	font-size: 20px;
}

.brand-link{
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 15px;
}

.content{
	background-image: url('../img/login-1.jpeg');
	background-size:cover;
	min-height: 800px;
	width: 100%;
}

.content-bg{
	background-color: rgba(0,0,0,0.7);
	min-height: 800px;
}

.content-box{
	position: relative;
	top: 3em;
	margin-left: auto;
	margin-right: auto;
	/*border: 3px solid #73AD21;*/	
	border-radius: 10px;
	background-color: #DFDBC3;
	height: 60%;
    width: 40%;
    /*padding: 70px 0;*/

    display: -webkit-box;
  	display: -webkit-flex;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
}

.content-login{
	margin: auto;
	width: 80%;
}

/* Ini dari Login Template */

/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
	position: relative;
	margin-bottom: 20px;
	display: block;
	font-family: ostrichsans;
	font-size: 30px;
	color: #333333;
	line-height: 1.2;
	text-align: center;
}
.login100-form-title i {
  font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/


.wrap-input100 {
  width: 100%; /*garisnya jadi penuh*/
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input100 {
  font-family: ostrichsans;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: relative;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;

  border: none;
}

/*---------------------------------------------*/ 
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  background: -o-linear-gradient(left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(left, #21d4fd, #b721ff);
  background: linear-gradient(left, #21d4fd, #b721ff);
}

.focus-input100::after {
  font-family: ostrichsans;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  outline: none;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -15px;
  outline: none;
}

.input100:focus + .focus-input100::before {
  width: 100%;
  outline: none;
}

.has-val.input100 + .focus-input100::after {
  top: -15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*Button*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-login100-form-btn {
  width: 50%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: -moz-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  top: 0;
  left: -100%;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn {
  font-family: ostrichsans;
  font-size: 20px;
  color: black;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;

  border: none;
}

.signup-link{
	margin-top: 5px;
}

.signup-link .txt1, .signup-link .txt2{
	font-family: ostrichreg;
}

/*Product Page*/
.content-boxs{
	overflow: hidden;
	margin-left: 2px;
	padding-left: 4px;
}

.content-boxs .card{
	overflow: hidden;
}

.content-boxs .card-image{
	display: flex;
}

.content-boxs img{
	max-width: 100%;
	height: 200px;
	object-fit: cover; /*supaya gambarnya ngepassesuai heightnya*/
}

.content-boxs .card{
	border: none;
}

.content-boxs .card-title{
	font-family: calligraffiti;
}

.content-boxs .card-text{
	height: 200px;
}

.content-boxs .card-text, .content-boxs .card-lists, .content-boxs .card-body{
	font-family: hanzo;
}

.content-table{
	position: relative;
	top: 3em;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
    width: 40%;
    /*padding: 70px 0;*/

    display: -webkit-box;
  	display: -webkit-flex;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
}

.admin-table{
	color: white;
}

.admin-table tr{
	font-family: hanzo;
}

.admin-table .action-button{
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.admin-table .action-button button{
	margin-left: 5px;
}

/*Reservation Page*/
.content-reserv{
	color: white;
  height: 800px;
}

.content-reserv .heading{
	font-family: ostrichsans;
	position: relative;
	margin: 2px;
}

.heading{
  overflow: hidden;
  text-align: center;
  position: relative;
}

.heading p{
  font-size: 50px;
}

.content-form{
	font-family: hanzo; 
  position: relative;
  top: 50px;
}

.content-suggestion{
	background-color: #DFDBC3;
	border-radius: 10px;
	margin-left: 2px;
}

input[type=text]{
  width: 75%;
}

input[type=number]{
  width: 75%;
}

input[type=time]{
  width: 40%;
}


.details-text {
    border-right: 2px solid #841b2d;
}
.details-text {
    background-color: rgba(14, 4, 4, 0.70);
    border-right: 2px solid #A87F41;
    padding: 20px 20px 30px 30px;
    overflow: auto;
}


.section-padding{
    padding: 60px 0px;
}

#event{
    background: url('../img/reserve.jpg') no-repeat;
    background-size: cover;
}

.bg-color{
    background-color: RGBA(0, 0, 0, 0.61);
    min-height: 630px;
}

.header-h {
        font-size: 35px;
    }

.header-p, body{
    font-size: 14px;
}

.left-images img {
    height: 308px;
    width: 100%;
}
.left-images{
    padding: 0px;
}

.details-text {
    border-right: 2px solid #841b2d;
}
.details-text {
    background-color: rgba(14, 4, 4, 0.70);
    border-right: 2px solid #A87F41;
    padding: 20px 20px 30px 30px;
    overflow: auto;
}

.details-text p {
    color: #E8E8E8;
    line-height: 26px;
    letter-spacing: 1px;
    font-weight: 300;
}

.save-button{
    display: flex;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
}